@charset "UTF-8";

html {
	background-color: midnightblue;
	font-family: "Trebuchet MS", Verdana, sans-serif;
	color: white;
	font-size: 10px;
}

body {
	margin: 0 auto;
	min-width: 768px;
	max-width: 1024px;
}

header {
	float: right;
}

section p {
	font-size: 1rem;
	margin-left: 450px;
	font-weight: 100;
	margin-top: 10px;
}

/* Walkman logo */
section h1 img {
    margin-top: 60px;
	margin-left: 300px;
	border: 4px solid black;
}

/* Sony Walkman device */
section h2 img {
	margin-top: 350px;
	margin-left: -450px;
	border: 4px solid black;
}

section h2 p {
	font-size: 1rem;
	margin-left: -450px;
	font-weight: 100;
}

/* Sony Walkman ad */
section h3 img {
	margin-top: 350px;
	margin-left: 0px;
	border: 4px solid black;
}

section h3 p {
	font-size: 1rem;
	margin-left: 0px;
	font-weight: 100;
}

/* Feedback */
section h4 img {
	margin-top: 800px;
	margin-left: -835px;
	border: 4px solid black;
}

section h4 p {
	font-size: 1rem;
	margin-left: -835px;
	font-weight: 100;
}

/* Support */
section h5 img {
	margin-top: 800px;
	margin-left: -385px;
	border: 4px solid black;
}

section h5 p {
	font-size: 1rem;
	margin-left: -385px;
	font-weight: 100;
}

/* Sony */
section h6 img {
	margin-top: 1200px;
	margin-left: -675px;
	border: 4px solid black;
}

section h6 p {
	font-size: 1rem;
	margin-left: -675px;
	font-weight: 100;
}

main {
	line-height: 1.5;
	background-color: midnightblue;
	display: flex;
	flex-direction: row;
}

main section {
	width: 60%;
	padding: 2em;
}

main a {
	text-decoration: none;
	color: lightskyblue;
	font-weight: bold;
}

/* Copyright */
footer {
	margin-top: 2rem;
	font-size: 1.6rem;
}

footer p {
	text-align: right;
}
